html{
  font-family: sans-serif;
}
.button {
    padding: 3rem 9rem 3rem 1rem;
    border: 0.2rem solid #84817e;
    background-image: linear-gradient(to right, #f0ae64, #ed9444);
    font-size: 2rem;
    font-weight: 900;
}
.delete-button{
  position: relative;
}
.delete-button:before, .delete-button:after {
  content: '|';
  position: absolute;
  top: 0;

}

.delete-button:before {
  transform: rotate(45deg);
}
.delete-button:after {
  transform: rotate(-45deg);
}

.button:before, .button:after {
    right: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    font-size: 3rem;
    top: 1rem;
    padding: 1rem;
  }
  .button:before {
    background-color: #fff;
  }



  .soltia-search{
    background-color: #f5f5f5;
    padding: 5px;
  }

  .autocomplete{
    position: relative;
  }
  .autocomplete-input {
    border: 2px solid #d2d2d2;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    flex: 1;
    background-color: #eee;
  }
  
  .autocomplete-input:focus,
  .autocomplete-input[aria-expanded="true"] {
    background-color: #fff;
    outline: none;
  }
  
  
  [data-position="above"] .autocomplete-input[aria-expanded="true"] {
    z-index: 2;
  }
  
  /* Loading spinner */
  .autocomplete[data-loading="true"]::after {
    content: "";
    border: 3px solid rgba(0, 0, 0, 0.12);
    border-right: 3px solid rgba(0, 0, 0, 0.48);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate 1s infinite linear;
  }
  
  .autocomplete-result-list {
    margin: 0;
    border: 2px solid #d2d2d2;
    padding: 0;
    box-sizing: border-box;
    max-height: 296px;
    overflow-y: auto;
    background: #fff;
    list-style: none;
    padding: 10px 0;
  }
  
  [data-position="below"] .autocomplete-result-list {
    margin-top: 2px;
  }
  
  [data-position="above"] .autocomplete-result-list {
    margin-bottom: 2px;
  }
  
  /* Single result item */
  .autocomplete-result {
    cursor: default;
    padding: 10px 15px;
  }
  .autocomplete-result span{
    font-weight: bold;
  }
  .autocomplete-result:hover,
  .autocomplete-result[aria-selected="true"] {
    background-color: rgba(0, 0, 0, 0.06);
  }
  
  @keyframes rotate {
    from {
      transform: translateY(-50%) rotate(0deg);
    }
    to {
      transform: translateY(-50%) rotate(359deg);
    }
  }
  
.search-history{
  padding: 15px 15px 50px 15px;
}

.transparent-button{
  background: transparent;
    border: none;
    cursor: pointer;
}
.transparent-button:hover{
    color: #6c6c6c
}
  .search-history-head, .history-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }

  .history-item{
    padding: 12px 0;
  }

  .history-item-info{
    display: flex;
    color: #8f8f8f;

  }

  .history-item-clear{
    margin-left: 20px;
    font-weight: bold;
    color: inherit;
  }
  .history-item-clear::after, .query-clear::after{
    left: 5px;
  }

  .query-clear{
    position: absolute;
    right: 20px;
    top: 20px;
    color: #8f8f8f;
  }

  .autocomplete[data-loading="true"] .query-clear, .autocomplete[data-value="empty"] .query-clear {
    display: none;
  }